<div id="about" >

<div>
	<h2>
		Hi, my name is Karen Brohard. Mucho gusto.
	</h2>
	<p>
		Here is where I will write more about myself when I have time. For now, Jesse Ditson rules. #jumbotron
	</p>
</div>

</div>