
	<p>Welcome to <%= title %></p>
	<p> Eric Brach gives me butterflies. </p>
	<p>
		<img title="I'll Butt Your Fly" src="http://cdn.vectorstock.com/i/composite/22,43/sombrero-drunken-butterfly-vector-742243.jpg">
	</p>
	<p> He also catches the frisbees. </p>
	<p>
		<img src="http://earlyrecognitioniscritical.org/Media/Default/BlogPost/eric-blog/10725_672037609087_2791304_n.jpg">
	</p>
	<p> He also has dat stunner face.</p>
	<p>
		<img src="https://skylightbooks.indiebound.com/files/skylightbooks/Eric_Brach_by_Jordan_Strump.jpg">
	</p>
	<p> He's my fwend. </p>
	<p>
		<img title="heartz" src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/2000px-Heart_coraz%C3%B3n.svg.png">
	</p>

