<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<p> With great power comes great responsibility. </p>
	<p> My super sweet new html powers mean I must bring truth to the masses. </p>
	<p> With no further adieu, ladies and gentlemn, your first piece of truth:</p>
	<p> Beastie smells like farts. </p>
	<p>
		<img title="hehe poopy pants" src="http://www.samuitimes.com/wp-content/uploads/2014/05/smelly-chicken.jpg">
	</p>
</body>
</html>
