<!DOCTYPE html>
<html>
<head>
	<title> brohard.co </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<div class="header">
	<h1>
		brohard.co
	</h1>
	<%- include partials/nav.ejs%>
	</div>
	
	<%-body%>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.1/jquery.jcarousel-core.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
