<!DOCTYPE html>
<html>
<head>
	<title> brohard.co </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<h1>
		brohard.co
	</h1>
	<%- include partials/nav.ejs%>
	<%-body%>

</body>
</html>
