body {
  padding: 10px;
  padding-top: 90px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h5 {
  font-weight: 700;
  font-size: 3.2em;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
  width: 328px;
  margin: 0px 5px;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.jcarousel li#img1 {
  background-image: url(https://lh4.googleusercontent.com/-4hNna9v5z2g/AAAAAAAAAAI/AAAAAAAAAAA/Dm_cvCFGz_8/photo.jpg);
}

.jcarousel li#img2 {
  background-image: url(/images/PODO.jpg);
}

.jcarousel li#img3 {
  background-image: url(/images/PODO2.jpg);
}

.jcarousel li#img4 {
  background-image: url(/images/dog.jpg);
}

.jcarousel li#img5 {
  background-image: url(/images/group.jpg);
}

.nav {
  padding: 0px;
  list-style-type: none;
  float: right;
}
.nav li {
  padding: 0px 10px;
  display: block;
  float: left;
}
.nav li a {
  text-decoration: none;
  color: #F70AA4;
}
.nav li a:hover {
  color: #853982;
  border-bottom: 1px solid;
}

.header {
  background-color: #F2C2E1;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 50px;
  z-index: 1000;
  padding: 10px;
}
.header h1 {
  float: left;
  line-height: 50px;
  margin: 0px;
}

.content-holder {
  position: absolute;
  top: 560px;
  left: 0px;
  right: 0px;
  min-height: 1000px;
  background-color: green;
}

.parallax {
  position: absolute;
  left: 0px;
  margin-top: 98px;
  width: 100%;
  top: 0px;
}

.facepic {
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: -90px;
  margin-left: -90px;
  left: 50%;
  background-image: url(/images/parapic.jpg);
}

.content {
  padding: 10px 20px;
  text-align: center;
  padding-top: 100px;
}
